appnope==0.1.2
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
idna==2.10
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
lxml==4.6.2
nltk==3.5
numpy==1.20.1
pandas==1.2.3
parso==0.8.1
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.17
ptyprocess==0.7.0
Pygments==2.8.1
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
regex==2021.3.17
requests==2.25.1
sec-edgar-downloader==4.0.2
six==1.15.0
soupsieve==2.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
