# packages in environment at /Users/nick/opt/anaconda3/envs/cs506-projectenv:
#
# Name                    Version                   Build  Channel
appnope                   0.1.2           py38hecd8cb5_1001  
backcall                  0.2.0              pyhd3eb1b0_0  
beautifulsoup4            4.9.3              pyha847dfd_0  
blas                      1.0                         mkl  
boto                      2.49.0                   py38_0  
boto3                     1.17.28            pyhd3eb1b0_0  
botocore                  1.20.36            pyhd3eb1b0_1  
brotlipy                  0.7.0           py38h9ed2024_1003  
bs4                       0.0.1                    pypi_0    pypi
ca-certificates           2021.1.19            hecd8cb5_1  
cachetools                4.2.1              pyhd3eb1b0_0  
certifi                   2020.12.5        py38hecd8cb5_0  
cffi                      1.14.5           py38h2125817_0  
chardet                   4.0.0           py38hecd8cb5_1003  
click                     7.1.2              pyhd3eb1b0_0  
cryptography              3.4.7            py38h2fd3fbb_0  

cycler                    0.10.0                   py38_0  
cymem                     2.0.5            py38h23ab428_0  
cython-blis               0.7.4            py38h9ed2024_1  
decorator                 4.4.2              pyhd3eb1b0_0  
en-core-web-sm            2.3.1                    pypi_0    pypi
freetype                  2.10.4               ha233b18_0  

decorator                 4.4.2              pyhd3eb1b0_0  

gensim                    3.8.3            py38h23ab428_2  
google-api-core           1.25.1             pyhd3eb1b0_0  
google-auth               1.21.3                     py_0  
google-cloud-core         1.6.0              pyhd3eb1b0_0  
google-cloud-storage      1.37.0             pyhd3eb1b0_0  
google-crc32c             1.1.2            py38h9ed2024_0  
google-resumable-media    1.2.0              pyhd3eb1b0_1  
googleapis-common-protos  1.52.0           py38hecd8cb5_0  
idna                      2.10               pyhd3eb1b0_0  
intel-openmp              2019.4                      233  
ipykernel                 5.3.4            py38h5ca1d4c_0  
ipython                   7.21.0           py38h01d92e1_0  
ipython_genutils          0.2.0              pyhd3eb1b0_1  
jedi                      0.17.0                   py38_0  
jmespath                  0.10.0                     py_0  
joblib                    1.0.1              pyhd3eb1b0_0  

jpeg                      9b                   he5867d9_2  
jsonschema                3.0.2                    py38_0  


jupyter_client            6.1.7                      py_0  
jupyter_core              4.7.1            py38hecd8cb5_0  
kiwisolver                1.3.1            py38h23ab428_0  
lcms2                     2.12                 hf1fd2bf_0  
libcrc32c                 1.1.1                hb1e8313_2  
libcxx                    10.0.0                        1  
libffi                    3.3                  hb1e8313_2  
libgfortran               3.0.1                h93005f0_2  
libpng                    1.6.37               ha441bb4_0  
libprotobuf               3.14.0               h2842e9f_0  
libsodium                 1.0.18               h1de35cc_0  
libtiff                   4.1.0                hcb84e12_1  
lxml                      4.6.3                    pypi_0    pypi
lz4-c                     1.9.3                h23ab428_0  
matplotlib                3.3.4            py38hecd8cb5_0  
matplotlib-base           3.3.4            py38h8b3ea08_0  
mkl                       2019.4                      233  
mkl-service               2.3.0            py38h9ed2024_0  
mkl_fft                   1.3.0            py38ha059aab_0  
mkl_random                1.1.1            py38h959d312_0  
multidict                 5.1.0            py38h9ed2024_2  
ncurses                   6.2                  h0a44026_1  
nltk                      3.5                        py_0  
numpy                     1.19.2           py38h456fd55_0  
numpy-base                1.19.2           py38hcfb5961_0  
olefile                   0.46                       py_0  
openssl                   1.1.1k               h9ed2024_0  
pandas                    1.2.3            py38hb2f4e1b_0  
parso                     0.8.1              pyhd3eb1b0_0  
pexpect                   4.8.0              pyhd3eb1b0_3  
pickleshare               0.7.5           pyhd3eb1b0_1003  
pillow                    8.2.0            py38h5270095_0  
pip                       21.0.1           py38hecd8cb5_0  
prompt-toolkit            3.0.17             pyh06a4308_0  
protobuf                  3.14.0           py38h23ab428_1  
ptyprocess                0.7.0              pyhd3eb1b0_2  
pyasn1                    0.4.8                      py_0  
pyasn1-modules            0.2.8                      py_0  
pycparser                 2.20                       py_2  
pygments                  2.8.1              pyhd3eb1b0_0  
pyopenssl                 20.0.1             pyhd3eb1b0_1  

pyparsing                 2.4.7              pyhd3eb1b0_0  
pyrsistent                0.17.3           py38haf1e3a3_0  

pysocks                   1.7.1                    py38_1  
python                    3.8.8                h88f2d9e_4  
python-dateutil           2.8.1              pyhd3eb1b0_0  
pytz                      2021.1             pyhd3eb1b0_0  
pyzmq                     20.0.0           py38h23ab428_1  
readline                  8.1                  h9ed2024_0  
regex                     2021.3.17        py38h9ed2024_0  
requests                  2.25.1             pyhd3eb1b0_0  
rsa                       4.7.2              pyhd3eb1b0_1  
s3transfer                0.3.6              pyhd3eb1b0_0  
scipy                     1.6.2            py38h2515648_0  
seaborn                   0.11.1             pyhd3eb1b0_0  
sec-edgar-downloader      4.0.2                    pypi_0    pypi
setuptools                52.0.0           py38hecd8cb5_0  
six                       1.15.0           py38hecd8cb5_0  
smart_open                4.2.0              pyhd3eb1b0_0  
soupsieve                 2.2.1              pyhd3eb1b0_0  
sqlite                    3.35.2               hce871da_0  
tk                        8.6.10               hb0a8c7a_0  
tornado                   6.1              py38h9ed2024_0  
tqdm                      4.59.0             pyhd3eb1b0_1  
traitlets                 5.0.5              pyhd3eb1b0_0  
urllib3                   1.26.4             pyhd3eb1b0_0  
wcwidth                   0.2.5                      py_0  
wheel                     0.36.2             pyhd3eb1b0_0  
wordcloud                 1.8.1                    pypi_0    pypi
xz                        5.2.5                h1de35cc_0  
yarl                      1.5.1            py38haf1e3a3_0  
zeromq                    4.3.4                h23ab428_0  
zlib                      1.2.11               h1de35cc_3  
zstd                      1.4.9                h322a384_0  
